body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('https://source.unsplash.com/random');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    padding: 10px;
    border: 2px solid #fff;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 18px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#ip {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
    }
    h1 {
        font-size: 24px;
        padding: 5px;
        margin-bottom: 10px;
    }
    p {
        font-size: 14px;
    }
    #ip {
        font-size: 18px;
    }
}
